<form (submit)="submit()"  class="form" [formGroup]="form">

  <div class="form-group" *ngIf="!isEditScreen">
    <label for="name-input">Name:</label>
    <input id="name-input" type="text" class="form-control" formControlName="name">
  </div>
  
  <div class="form-group">
    <label for="dob-input">Date of birth:</label>
    <input id="dob-input" type="date" class="form-control" formControlName="dateOfBirth">
  </div>

  <div class="form-group">
    <label for="country-input">Country:</label>
    <input id="country-input" type="text" class="form-control" formControlName="country">
  </div>

  <div class="form-group">
    <label for="username-input">Username:</label>
    <input id="username-input" type="text" class="form-control" formControlName="username">
  </div>

  <div class="form-group">
    <label for="hireDate-input">Hire Date:</label>
    <input id="hireDate-input" type="date" class="form-control" formControlName="hireDate">
  </div>

  <div class="form-group">
    <label for="status-input">Status:</label>
    <input id="status-input" type="checkbox" class="form-control" formControlName="status">
  </div>

  <div class="form-group">
    <label for="area-input">Area </label>
    <div class="form-check-inline">
      <label class="form-check-label">
        <input type="radio" value="SERVICES" class="form-check-input" formControlName="area">Services
      </label>
    </div>
    <div class="form-check-inline">
      <label class="form-check-label">
        <input type="radio" value="KITCHEN" class="form-check-input" formControlName="area">Kitchen
      </label>
    </div>
    <!-- <input id="area-input" type="text" class="form-control" formControlName="area"> -->
  </div>

  <div class="form-group">
    <label for="jobTitle-input">Job Title:</label>
    <app-jobtitle [typeArea]="areaChooseByUser"></app-jobtitle>
    <!-- <input id="jobTitle-input" type="text" class="form-control" formControlName="jobTitle"> -->
  </div>

  <div class="form-group">
    <label for="tipRate-input">Tip rate:</label>
    <input id="tipRate-input" type="number" step="0.01" class="form-control" formControlName="tipRate">
  </div>

  <div class="form-group" *ngIf="!disabledForm">
    <button
            type="submit"
            [disabled]="!form.valid"
            class="btn btn-success float-right">
      Submit
    </button>
  </div>

</form>