

<div class="employee-details-container" *ngIf="employee">

  <div class="card">
    <div class="card-header">
      Employee
    </div>
    <div class="card-body">
      <p>Name: <span class="badge badge-primary">{{employee.name}}</span></p>
      <p>Email:  <span class="badge badge-primary">{{employee.email}}</span></p>
      <p>Phone:  <span class="badge badge-primary">{{employee.phone}}</span></p>
    </div>
    <div class="card-footer text-muted">
      <span class="float-md-right ">
        <button (click)="edit.emit(employee)" class="btn btn-sm btn-outline-warning"> EDIT</button>
        <button (click)="remove.emit(employee)" class="btn btn-sm btn-outline-danger"> DELETE</button>
      </span>

    </div>
  </div>

</div>

